--cpu:arm64
--mm:orc
--opt:size

# musl uses 64-bit time_t on supported modern targets.
@if musl:
-d:nimUse64BitCTime
@end

# glibc time64 ABI for 32-bit targets.
@if time64:
-d:nimUse64BitCTime
--passC:"-D_TIME_BITS=64"
--passC:"-D_FILE_OFFSET_BITS=64"
@end

arm64.linux.gcc.exe = "aarch64-linux-gnu-gcc"
arm64.linux.gcc.linkerexe = "aarch64-linux-gnu-gcc"
